<section class="search-section">
  <div class="search-wrapper">
    <div class="search-item season">
      <ng-container *ngFor="let season of seasonList">
        <div
          class="item"
          [class.active]="season.active"
          (click)="handleSeason(season)"
        >
          <span class="f1-text">{{ season.year }}</span>
        </div>
      </ng-container>
    </div>
    <div class="search-item type">
      <ng-container *ngFor="let type of typeList">
        <div
          class="item"
          [class.active]="type.active"
          (click)="handleType(type)"
        >
          <span class="f1-text">{{ type.name }}</span>
        </div>
      </ng-container>
    </div>
    <div class="search-item value">
      <ng-container *ngIf="type == 'races'">
        <div
          class="item"
          [class.active]="race.active"
          (click)="handleValue(race, type)"
          *ngFor="let race of raceList"
        >
          <span class="f1-text">{{ race?.country }}</span>
        </div>
      </ng-container>
      <ng-container *ngIf="type == 'drivers'">
        <div
          class="item"
          [class.active]="driver.active"
          (click)="handleValue(driver, type)"
          *ngFor="let driver of driverList"
        >
          <span class="f1-text">
            {{ driver?.surname }}<span *ngIf="driver?.forename != ''">,</span>
            {{ driver?.forename }}
          </span>
        </div>
      </ng-container>
      <ng-container *ngIf="type == 'teams'">
        <div
          class="item"
          [class.active]="team.active"
          (click)="handleValue(team, type)"
          *ngFor="let team of teamList"
        >
          <span class="f1-text">
            {{ team?.name }}
          </span>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="title f1-text">
    <ng-container *ngIf="type != 'races'">
      {{ year }} {{ type == "teams" ? "constructors" : type }}
      {{ type == "races" ? "results" : "standings" }}
      <span *ngIf="value != ''">: {{ valueName }}</span>
    </ng-container>
    <ng-container *ngIf="type == 'races'">
      <ng-container *ngIf="value == ''">
        {{ year }} races results
      </ng-container>
      <ng-container *ngIf="value != ''">
        FORMULA 1 {{ valueName }} {{ year }} - races results
      </ng-container>
    </ng-container>
  </div>
  <div class="table-wrapper">
    <ng-container *ngIf="value == ''">
      <app-result [data]="data"></app-result>
    </ng-container>
    <ng-container *ngIf="value != ''">
      <app-result-value [data]="dataValue"></app-result-value>
    </ng-container>
  </div>
</section>
