.search-section {
  .search-wrapper {
    display: flex;
    height: 150px;
    border-bottom: 1px solid #c7c0c0;
    .search-item {
      overflow: auto;
      width: calc(100% / 3);
      .item {
        padding: 10px 20px;
        font-size: 20px;
        cursor: pointer;
        &.active {
          span {
            font-weight: bold;
            border-bottom: 1px solid #e00;
          }
        }
      }
    }
  }
  .title {
    text-transform: uppercase;
    font-size: 60px;
    margin: 20px;
  }
  .table-wrapper {
    padding: 20px;
    table {
      width: 100%;
      thead,
      tbody {
        tr {
          th,
          td {
            padding: 18px 20px 14px;
            vertical-align: middle;
          }
        }
      }
      thead {
        tr {
          th {
            text-align: left;
            text-transform: uppercase;
            font-weight: 500;
            color: gray;
            font-size: 0.9rem;
          }
        }
      }
      tbody {
        tr {
          &:nth-child(odd) {
            background-color: #f4f4f4;
          }
        }
      }
    }
  }
}
